<div>
  <h1> Products </h1>
  {{#each allProducts}}
    <div style="width: 200px; padding: 10px; border: solid 1.5px; margin: 10px;">
      <p>{{this.title}}</p>

      <p>{{this.description}}</p>

      <p>{{this.price}}</p>

    </div>
  {{/each}}
</div>  